<div class="flex flex-col justify-center items-center h-screen text-gray-800">
    <h1 class="text-5xl font-bold mb-4">About Vichaar-Jar</h1>
    <p class="text-lg text-center max-w-md mb-4">
        Like Twitter/X got wonky enough? Here is my solution, Vichaar-Jar is an innovative platform where users can
        share their thoughts,
        opinions, and ideas in a public
        forum. With its threaded commenting feature, users can have nuanced conversations by replying directly to other
        comments.
    </p>
    <h1 class="text-2xl font-bold mb-4">Upcoming:</h1>
    <ul class="text-lg text-center max-w-md">
        <li>User Profiles</li>
        <li>Realtime Updates </li>
        <li>Dark Mode</li>
        <li>More...</li>
    </ul>
</div>